In [1]:
from pandas_datareader import data
import matplotlib.pyplot as plt
import pandas as pd
import datetime as dt
import urllib.request, json
import os
import numpy as np
import tensorflow as tf # This code has been tested with TensorFlow 1.6
from sklearn.preprocessing import MinMaxScaler

In [14]:
api_key = {"username":"jzhaojieh","key":"da93c11f138d144060af53abb79ad9de"}


data_source = 'kaggle' # alphavantage or kaggle

if data_source == 'kaggle':
    # ====================== Loading Data from Alpha Vantage ==================================

    api_key = 'da93c11f138d144060af53abb79ad9de'

    # American Airlines stock market prices
    ticker = "AAL"

    # JSON file with all the stock market data for AAL from the last 20 years
    url_string = "https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=%s&outputsize=full&apikey=%s"%(ticker,api_key)
    print(url_string)
    # Save data to this file
    file_to_save = 'stock_market_data-%s.csv'%ticker

    # If you haven't already saved data,
    # Go ahead and grab the data from the url
    # And store date, low, high, volume, close, open values to a Pandas DataFrame
    if not os.path.exists(file_to_save):
        with urllib.request.urlopen(url_string) as url:
            data = json.loads(url.read().decode())
            # extract stock market data
            data = data['Time Series (Daily)']
            df = pd.DataFrame(columns=['Date','Low','High','Close','Open'])
            for k,v in data.items():
                date = dt.datetime.strptime(k, '%Y-%m-%d')
                data_row = [date.date(),float(v['3. low']),float(v['2. high']),
                            float(v['4. close']),float(v['1. open'])]
                df.loc[-1,:] = data_row
                df.index = df.index + 1
        print('Data saved to : %s'%file_to_save)        
        df.to_csv(file_to_save)

    # If the data is already there, just load it from the CSV
    else:
        print('File already exists. Loading data from CSV')
        df = pd.read_csv(file_to_save)

else:

    # ====================== Loading Data from Kaggle ==================================
    # You will be using HP's data. Feel free to experiment with other data.
    # But while doing so, be careful to have a large enough dataset and also pay attention to the data normalization
    df = pd.read_csv(os.path.join('Stocks','hpq.us.txt'),delimiter=',',usecols=['Date','Open','High','Low','Close'])
    print('Loaded data from the Kaggle repository')
df = df[::-1]
df.head()

https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=AAL&outputsize=full&apikey=da93c11f138d144060af53abb79ad9de
Data saved to : stock_market_data-AAL.csv

         Date    Low   High  Close   Open
0  2005-09-27   19.1   21.4   19.3  21.05
1  2005-09-28   19.2  20.53   20.5   19.3
2  2005-09-29   20.1  20.58  20.21   20.4
3  2005-09-30  20.18  21.05  21.01  20.26
4  2005-10-03   20.9  21.75   21.5   20.9

In [15]:
df.head()

         Date    Low   High  Close   Open
0  2005-09-27   19.1   21.4   19.3  21.05
1  2005-09-28   19.2  20.53   20.5   19.3
2  2005-09-29   20.1  20.58  20.21   20.4
3  2005-09-30  20.18  21.05  21.01  20.26
4  2005-10-03   20.9  21.75   21.5   20.9